<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Site Metadata -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="8-Bit is a discord bot that helps make your server a whole lot more fun!">
        <meta name="author" content="DJ Doughball#9853">
        
        <!-- Main Image -->
        <link rel="icon" type="image/png" sizes="300x250" href="static\images\8-bit_logo.png">
        
        <title>8-Bit</title>
    </head>

    <body class="bg-shinyGray overflow-x-hidden">
        <a href="https://dsc.gg/8bit" target="_blank" class="px-8 py-3 whitespace-no-wrap bg-blurple text-white rounded-lg text-xl font-semibold hover:bg-beautyPurple"><i class="fab fa-discord mr-1"></i> Add to Discord</a>
        <a href="https://dsc.gg/8bit-support" target="_blank" class="px-8 py-3 whitespace-no-wrap bg-blurple text-white rounded-lg text-xl font-semibold hover:bg-beautyPurple"><i class="fab fa-discord mr-1"></i> Join the Support Server!</a>

        <p>By the way, despite how the website looks, this site mainly just for uploading the bot's images. </p> 
        <p> This isn't your run-of-the-mill discord bot, it's already in almost 55 servers! Let's see if we can get to 60 :)</p>
    </body>
</html>
